version: "3.8"

services:
  suave-mevm:
    build: ../..
    command:
      - --dev
      - --dev.gaslimit=30000000
      - --http
      - --http.port=8545
      - --http.addr=0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --ws
      - --ws.origins=*
      - --ws.addr=0.0.0.0
      - --datadir=/data
      - --keystore=/keystore/keystore
      - --unlock=0xB5fEAfbDD752ad52Afb7e1bD2E40432A485bBB7F
      - --password=/keystore/password.txt
    depends_on:
      - suave-enabled-chain
    volumes:
      - ./suave-ex-node:/keystore
    ports:
      - 8545:8545
      - 8546:8546
  suave-enabled-chain:
    image: flashbots/suave-execution-geth:latest
    command:
      - --dev
      - --dev.gaslimit=30000000
      - --http
      - --http.port=8545
      - --http.addr=0.0.0.0
      - --http.vhosts=*
      - --http.corsdomain=*
      - --ws
      - --ws.origins=*
      - --ws.addr=0.0.0.0
      - --keystore=/keystore/keystore
    volumes:
      - ./suave-ex-node:/keystore
    ports:
      - 8555:8545
  postgres:
    image: postgres:14
    restart: always
    container_name: 'postgres'
    command: postgres -c 'max_connections=200' -c listen_addresses='*'
    environment:
      POSTGRES_PASSWORD: 'postgres'
      POSTGRES_USER: 'postgres'
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    ports:
      - 7432:5432
  blockscout:
    image: adrienmo/blockscout:suave
    command: sh -c "bin/blockscout eval \"Elixir.Explorer.ReleaseTasks.create_and_migrate()\" && bin/blockscout start"
    ports:
      - 4000:4000
    environment:
      PORT: 4000
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/blockscout 
      ECTO_USE_SSL: "false"
      MICROSERVICE_SC_VERIFIER_ENABLED: "false"
      ETHEREUM_JSONRPC_TRACE_URL: http://suave-mevm:8545
      ETHEREUM_JSONRPC_HTTP_URL: http://suave-mevm:8545
      ETHEREUM_JSONRPC_VARIANT: geth  
      COIN: ETH
      MIX_ENV: prod 
      SECRET_KEY_BASE: VTIB3uHDNbvrY0+60ZWgUoUBKDn9ppLR8MI4CpRz4/qLyEFs54ktJfaNT6Z221No